<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<div>&nbsp;</div>
<div layout="row" layout-align="center center" layout-margin ng-init="$ctrl.$onInit()">

    <md-content>
        <h2 style="padding-left: 13em;">Available Orders</h2>
        <md-card>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-value="order" ng-repeat="order in $ctrl.availableOrders" label="{{order.id}}">
                    <md-content class="md-padding">
                        <p>Address:&nbsp;&nbsp;{{order.location}} - {{order.district}}</p>
                        <p>Shop:&nbsp;&nbsp;{{order.shop}}</p>
                        <p>Weight:&nbsp;&nbsp;{{order.totalWeight}} kg</p>
                        <p>Payment to shop:&nbsp;&nbsp;{{order.totalPrice | number:2}} €</p>
                        <p>Total payment:&nbsp;&nbsp;{{order.totalPrice * 115 / 100 | number:2}} €</p>
                        <p>Profit:&nbsp;&nbsp;{{order.totalPrice * 15 / 100 | number:2}} €</p>
                        <p>Latest Delivery time:&nbsp;&nbsp;{{order.deliveryTime}}</p><br>
                        <md-button class="md-raised" layout-align="center center" ng-click="ifVisible = !ifVisible;">&nbsp;See items&nbsp;</md-button>
                    </md-content>
                    <div ng-if="ifVisible" style="width: 832px;">
                        <md-card>
                            <md-content>
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Items</md-subheader>
                                    <md-divider></md-divider>
                                    <md-list-item ng-model="order.items" ng-repeat="item in order.items" ng-click="null">
                                        <p>Item:&nbsp;&nbsp;{{item.product}}</p>
                                        <p>Amount:&nbsp;&nbsp;{{item.amount}}</p>
                                        <md-divider ng-if='!$last'></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-card>
                    </div>
                    <br>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.rejectOrder(order.id)"><md-icon md-svg-icon="cancel"></md-icon>&nbsp;Reject&nbsp;</md-button>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.acceptOrder(order.id)"><md-icon md-svg-icon="check"></md-icon>&nbsp;Accept&nbsp;</md-button>
                </md-tab>
            </md-tabs>
        </md-card>
    </md-content>
</div>
</body>
</html>