<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<div>&nbsp;</div>
<div layout="row" layout-align="center center" layout-margin ng-init="$ctrl.$onInit()">

    <md-content>
        <h2 style="padding-left: 13em;">Available Orders</h2>
        <md-card>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-value="order" ng-repeat="order in $ctrl.availableOrders" label="{{order.id}}">
                    <md-content class="md-padding">
                        <p>Address:&nbsp;&nbsp;asdasdasd</p><!--{{getUser(order.orderer).address}}-->
                        <p>Shop:&nbsp;&nbsp;Türkisch Shop</p>
                        <p>Weight:&nbsp;&nbsp;14 kg</p>
                        <p>Payment to shop:&nbsp;&nbsp;42 €</p>
                        <p>Total payment:&nbsp;&nbsp;49 €</p>
                        <p>Profit:&nbsp;&nbsp;7 €</p>
                        <p>Delivery time:&nbsp;&nbsp;3 hours</p>
                    </md-content>
                    <br><br>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.rejectOrder(123)"><md-icon md-svg-icon="cancel"></md-icon>&nbsp;Reject&nbsp;</md-button>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.acceptOrder(123)"><md-icon md-svg-icon="check"></md-icon>&nbsp;Accept&nbsp;</md-button>
                </md-tab>
            </md-tabs>
        </md-card>
    </md-content>
</div>
</body>
</html>