<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<div>&nbsp;</div>
<div layout="row" layout-align="center center" layout-margin>

    <md-content>
        <h2 >Available Orders</h2>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Order #123">
                <md-content class="md-padding">
                    <p>Address:&nbsp;&nbsp;Westend Straße 10 80339 München</p>
                    <p>Shop:&nbsp;&nbsp;Türkisch Shop</p>
                    <p>Weight:&nbsp;&nbsp;14 kg</p>
                    <p>Payment to shop:&nbsp;&nbsp;42 €</p>
                    <p>Total payment:&nbsp;&nbsp;49 €</p>
                    <p>Profit:&nbsp;&nbsp;7 €</p>
                    <p>Delivery time:&nbsp;&nbsp;3 hours</p>
                </md-content>
                <br><br>
                <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.rejectOrder(123)"><md-icon md-svg-icon="cancel"></md-icon>&nbsp;Reject&nbsp;</md-button>
                <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.acceptOrder(123)"><md-icon md-svg-icon="check"></md-icon>&nbsp;Accept&nbsp;</md-button>
            </md-tab>
            <md-tab label="Order #124">
                <md-content class="md-padding">
                    <md-content class="md-padding">
                        <p>Address:&nbsp;&nbsp;Albert Roßhaupter Straße 16 81369 München</p>
                        <p>Shop:&nbsp;&nbsp;Getraenke Markt</p>
                        <p>Weight:&nbsp;&nbsp;6 kg</p>
                        <p>Payment to shop:&nbsp;&nbsp;32 €</p>
                        <p>Total payment:&nbsp;&nbsp;37 €</p>
                        <p>Profit:&nbsp;&nbsp;5 €</p>
                        <p>Delivery time:&nbsp;&nbsp;5 hours</p>
                    </md-content>
                    <br><br>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.rejectOrder(124)"><md-icon md-svg-icon="cancel"></md-icon>&nbsp;Reject&nbsp;</md-button>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.acceptOrder(124)"><md-icon md-svg-icon="check"></md-icon>&nbsp;Accept&nbsp;</md-button>
                </md-content>
            </md-tab>
            <md-tab label="Order #125">
                <md-content class="md-padding">
                    <md-content class="md-padding">
                        <p>Address:&nbsp;&nbsp;Schellingstraße 47 80799 München</p>
                        <p>Shop:&nbsp;&nbsp;Asian Shop</p>
                        <p>Weight:&nbsp;&nbsp;2 kg</p>
                        <p>Payment to shop:&nbsp;&nbsp;78 €</p>
                        <p>Total payment:&nbsp;&nbsp;90 €</p>
                        <p>Profit:&nbsp;&nbsp;12 €</p>
                        <p>Delivery time:&nbsp;&nbsp;1 hour</p>
                    </md-content>
                    <br><br>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.rejectOrder(125)"><md-icon md-svg-icon="cancel"></md-icon>&nbsp;Reject&nbsp;</md-button>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.acceptOrder(125)"><md-icon md-svg-icon="check"></md-icon>&nbsp;Accept&nbsp;</md-button>
                </md-content>
            </md-tab>
            <md-tab label="Order #126">
                <md-content class="md-padding">
                    <md-content class="md-padding">
                        <p>Address:&nbsp;&nbsp;Theresienstraße 38 80333 München</p>
                        <p>Shop:&nbsp;&nbsp;Russian Shop</p>
                        <p>Weight:&nbsp;&nbsp;9 kg</p>
                        <p>Payment to shop:&nbsp;&nbsp;60 €</p>
                        <p>Total payment:&nbsp;&nbsp; 70 €</p>
                        <p>Profit:&nbsp;&nbsp;10 €</p>
                        <p>Delivery time:&nbsp;&nbsp;2 hours</p>
                    </md-content>
                    <br><br>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.rejectOrder(126)"><md-icon md-svg-icon="cancel"></md-icon>&nbsp;Reject&nbsp;</md-button>
                    <md-button class="md-raised" layout-align="center center" ng-click="$ctrl.acceptOrder(126)"><md-icon md-svg-icon="check"></md-icon>&nbsp;Accept&nbsp;</md-button>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
</body>
</html>