footer {
    /*
    max-height: 50px;
    */
    background-color: #ab0012;
/*
    position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 30px;
}
a {
    color: ghostwhite;
    text-decoration: underline;
}
