h1 {
    color: darkorange;
}
.md-tab{
    text-transform: none
}
.md-card{
    width: 700px;
}
md-input-container .md-input-message-animation:not(.ng-animate) {
    opacity: 0;
    margin-top: -200px;
    max-width: 100%;
}