<!--
given ng-controller name here must be same with the one in respective component's js file
-->

<div layout="row" layout-align="left" layout-fill ng-cloak >
    <left-menu></left-menu>

    <md-content layout="row" layout-margin layout-wrap layout-align="center start">
        <md-card id="deneme" style="width: 960px; padding-bottom: 35px">

            <md-card-title style="max-height: 100px; min-height: 100px;" >
                <md-card-title-text >

                    <md-card-actions layout="row" layout-align="center center">
                        <md-input-container layout="row" style="max-width:100%; width:100%" flex>
                            <input  type="text" ng-model="searchName" placeholder="Search products" >
                        </md-input-container>
                        <md-button layout="row" aria-label="Search" ui-sref="search({search: searchName })">
                            <ng-md-icon icon="search" ></ng-md-icon>
                        </md-button>
                    </md-card-actions>

                    <div style="padding-top: 25px;">
                        <b style="color: #ab0012;">You searched for: </b>{{$ctrl.nameToSearch}}
                   </div>
                </md-card-title-text>
            </md-card-title>

            <md-card-content  layout="row" layout-align="left start" ng-repeat="productList in $ctrl.shopsList" flex>

                <md-card  layout="row" layout-align="left start" ng-repeat="col in [] | range:productList.numCol" flex>
                    <md-card-content>
                        <md-card-title>
                            <md-card-title-text>
                                <div class="pageShopTitle"><b> {{productList.name}}: </b></div>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card flex="40" ng-repeat="row in [] | range:4" ng-if="productList.catalogue[4*col+row]" style="padding-top:15px; padding-bottom:15px" >
                            <img ng-src="{{productList.catalogue[4*col+row].photo}}">
                            <md-card-content >
                                <h2>{{productList.catalogue[4*col+row].name}}</h2>
                                <p><b>Category: </b>{{productList.catalogue[4*col+row].category}}</p>
                                <p><b>Price: </b>{{productList.catalogue[4*col+row].price}} €</p>
                                <p><b>Stock: </b>{{productList.catalogue[4*col+row].stock}}</p>
                                <p><b>Weight: </b>{{productList.catalogue[4*col+row].weight}} kg</p>
                                <p><b>Details: </b>{{productList.catalogue[4*col+row].details}}</p>
                            </md-card-content>
                            <md-button class="md-raised" style="width: 92%" ui-sref="product({productId:'{{productList.catalogue[4*col+row]._id}}' })">View Product</md-button>
                            <md-button class="md-raised" style="width: 92%" ng-if="$ctrl.isAuthenticated" ng-click="$ctrl.addProductToBasket(productList.catalogue[4*col+row]._id)">Add to Basket</md-button>
                        </md-card>
                    </md-card-content>
                </md-card>

            </md-card-content>

        </md-card>
    </md-content>
</div>