<script src="../../assets/angular-carousel.min.js"></script>

<!--
given ng-controller name here must be same with the one in respective component's js file
-->
<div layout="row" layout-align="left" layout-fill ng-cloak ng-controller="mainPageCtrl">
    <left-menu></left-menu>
    <md-content flex layout-gt-sm="row">
        <md-card style="width: 960px">
            <md-card-title>
                <md-card-title-media>
                    <div layout="row" layout-align="center center" layout-padding>
                        Secili storeun adi
                    </div>
                </md-card-title-media>
                <md-card-title-text>
                    <md-card-actions layout="row" layout-align="end center">
                        <!--<md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >-->
                        <!--<md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>-->
                        <!--</md-button>-->

                        <!--<md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >-->
                        <!--<md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>-->
                        </md-button>
                    </md-card-actions>

                    <!--<span class="md-headline">{{$ctrl.movie.title}}</span>-->
                    <!--<span class="md-subhead">{{$ctrl.movie.year}}</span>-->

                </md-card-title-text>

            </md-card-title>

            <md-card-content layout="row" layout-align="center center" layout-padding>
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                            <h4>Slide {{$index+1}}</h4>
                        </div>
                    </slide>
                </carousel>
                <!--<ul rn-carousel class="image">
                    <li ng-repeat="slide in slides">
                        <div class="layer">{{ slide.image }}</div>
                    </li>
                </ul>-->
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </md-card-content>
        </md-card>
    </md-content>
</div>