<!--
given ng-controller name here must be same with the one in respective component's js file
-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div layout="row" layout-align="left" layout-fill ng-cloak >
     <!--ng-controller="CarouselController">-->
    <left-menu></left-menu>
    <md-content flex layout-gt-sm="row">
        <md-card style="width: 960px">
            <md-card-title>
                <!--<md-card-title-media>-->
                    <!--<div layout="row" layout-align="center center" layout-padding>-->
                      <!---->
                    <!--</div>-->
                <!--</md-card-title-media>-->

                <md-card-title-text >

                    <md-card-actions layout="row" layout-align="center center">
                        <jk-carousel
                                data="$ctrl.dataArray"
                                current-index="$ctrl.currentIndex"

                                item-template-url="'carousel.html'"
                                max-width="415"
                                max-height="220"
                                auto-slide="true"
                                auto-slide-time="2000" >
                        </jk-carousel>
                    </md-card-actions>

                    Selected Store?

                </md-card-title-text>
            </md-card-title>


            <md-card-content layout="row" layout-align="center start" layout-padding>



                <br/><br/><br/><br/><br/><br/><br/>
            </md-card-content>
        </md-card>
    </md-content>
</div>