<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
<div>&nbsp;</div>
<div layout="row" layout-align="center center" layout-margin ng-init="$ctrl.initializeController()">
    <md-content>
        <md-card class="md-card" layout-align="center center">
            <h2>Profile</h2>
            <div id="userProfile" ng-show="$ctrl.user.type==='customer'">
                <form name="userProfileForm">
                    <md-list>
                        <b layout-align="center center" >Name:</b>
                        <md-input-container style="padding-left: 2em">
                            <input aria-label="userName" type="text" name="userName" ng-model="$ctrl.user.name" ng-pattern="/^[a-zA-Z\s]*$/" required/>
                            <div ng-messages="userProfileForm.userName.$error" ng-hide="userProfileForm.userName.$valid">
                                <div ng-message-exp="['required', 'pattern']">
                                    Valid username is required for update.
                                </div>
                            </div>
                        </md-input-container>
                        <br>
                        <b layout-align="center center">Surname: </b>
                        <md-input-container style="padding-left: 2em" id="userSurnameField">
                            <input aria-label="userSurnameField" type="text" name="userSurname" ng-model="$ctrl.user.surname" required="" ng-pattern="/^[a-zA-Z\s]*$/" required/>
                            <div ng-messages="userProfileForm.userSurname.$error" ng-hide="userProfileForm.userSurname.$valid">
                                <div ng-message-exp="['required', 'pattern']">
                                    Valid surname is required for update.
                                </div>
                            </div>
                        </md-input-container>
                        <br>
                        <b layout-align="center center">E-mail: </b>
                        <md-input-container style="padding-left: 2em" id="userEmailField">
                            <input aria-label="userEmailField" type="email" name="userEmail" ng-model="$ctrl.user.email" required="" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                            <div ng-messages="userProfileForm.userEmail.$error" ng-hide="userProfileForm.userEmail.$valid">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <br>

                        <b layout-align="center center">Address</b>
                        <md-input-container style="padding-left: 2em" id="userAddress">
                            <input aria-label="userAddress" type="text" name="userAddress" ng-model="$ctrl.user.address" required="" minlength="10"/>
                            <div ng-messages="userProfileForm.userAddress.$error" ng-hide="userProfileForm.userAddress.$valid">
                                <div ng-message-exp="['required', 'minlength']">
                                    Addresses generally consist of at least 10 characters
                                </div>
                            </div>
                        </md-input-container>
                        <br>

                        <b layout-align="center center">Location</b>
                        <md-input-container style="padding-left: 2em" id="previousLocationField">
                            <input aria-label="previousLocationField" type="text" name="previousLocation" disabled aria-disabled="true" ng-model="$ctrl.user.initialLocation">
                        </md-input-container>
                        <br>

                        <b layout-align="center center"></b>
                        <md-input-container class="md-block">
                            <label>New Location</label>
                            <md-select ng-model="$ctrl.userProfile.selectedLocationUser" name="selectedLocationUser"
                            ng-change="$ctrl.changeDistrictsUser()">
                                <md-optgroup>
                                    <md-option ng-value="location"
                                               ng-repeat="location in $ctrl.availableLocations">{{location.name}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <br>

                        <b layout-align="center center">District</b>
                        <md-input-container style="padding-left: 2em" id="previousDistrictField">
                            <input aria-label="previousDistrictField" type="text" name="previousDistrict" disabled aria-disabled="true" ng-model="$ctrl.user.initialDistrict">
                        </md-input-container>
                        <br>

                        <b layout-align="center center"></b>
                        <md-input-container class="md-block">
                            <label>New District</label>
                            <md-select name="selectedDistrictUser"
                                       ng-model="$ctrl.userProfile.selectedDistrictUser"
                                       single>
                                <md-optgroup>
                                    <md-option ng-value="district" ng-repeat="district in $ctrl.userProfile.selectedLocationUser.districts">{{district}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <br>


                        <b layout-align="center center">Old Password: </b>
                        <md-input-container style="padding-left: 2em" id="userOldPasswordField">
                            <input aria-label="userOldPasswordField" type="password" name="delivererOldPassword" ng-model="$ctrl.user.oldPassword">
                        </md-input-container>
                        <br>
                        <b layout-align="center center">New Password </b>
                        <md-input-container style="padding-left: 2em" id="userNewPasswordField">
                            <input aria-label="userNewPasswordField"
                                   type="password"
                                   name="userNewPassword"
                                   ng-model="$ctrl.user.newPassword">
                        </md-input-container>
                        <br>
                        <b layout-align="center center">New Password (Again): </b>
                        <md-input-container style="padding-left: 2em" id="userNewPasswordFieldAgain">
                            <input aria-label="userNewPasswordFieldAgain"
                                   type="password"
                                   name="userNewPasswordAgain"
                                   ng-model="$ctrl.user.newPasswordAgain">
                        </md-input-container>
                        <br>
                        <b style="color: red" layout-align="center center" ng-show="$ctrl.profileUpdateErrorUser !== undefined">Error: </b>
                            <span style="color: red">{{$ctrl.profileUpdateErrorUser}}</span>
                        <br>

                    </md-list>
                </form>
                <md-button type="submit" class="md-raised"
                           ng-click="$ctrl.changeCustomerProfile() && customerFormSubmitted == true" style="display: block; margin: 0 auto;">
                    &nbsp;Save Changes&nbsp;
                </md-button>
            </div>

            <div id="delivererProfile" ng-show="$ctrl.user.type==='deliverer'">
                <form name="delivererProfileForm">
                <md-list>
                    <b layout-align="center center" >Name:</b>
                    <md-input-container style="padding-left: 2em"id="delivererNameField">
                        <input aria-label="delivererNameField" type="text" name="delivererName" ng-model="$ctrl.user.name" required="" ng-pattern="/^[a-zA-Z\s]*$/"/>
                        <div ng-messages="delivererProfileForm.delivererName.$invalid   " ng-hide="delivererProfileForm.delivererName.$valid">
                            <div ng-message-exp="['pattern']">
                                Valid username is required for update.
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <b layout-align="center center">Surname: </b>
                    <md-input-container style="padding-left: 2em" id="delivererSurnameField">
                        <input aria-label="delivererSurnameField" type="text" name="delivererSurname" ng-model="$ctrl.user.surname" required="" ng-pattern="/^[a-zA-Z\s]*$/"/>
                        <div ng-messages="delivererProfileForm.delivererSurname.$error" ng-hide="delivererProfileForm.delivererSurname.$valid">
                            <div ng-message-exp="['required', 'pattern']">
                                Valid surname is required for update.
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <b layout-align="center center">E-mail: </b>
                    <md-input-container style="padding-left: 2em" id="delivererEmailField">
                        <input aria-label="delivererEmailField" type="email" name="delivererEmail" ng-model="$ctrl.user.email" required="" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                        <div ng-messages="delivererProfileForm.delivererEmail.$error" ng-hide="delivererProfileForm.delivererEmail.$valid">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <b layout-align="center center">Address: </b>
                    <md-input-container style="padding-left: 2em" id="delivererAddressField">
                        <input aria-label="delivererAddressField" type="text" name="delivererAddress" ng-model="$ctrl.user.address" required="" minlength="10"/>
                        <div ng-messages="delivererProfileForm.delivererAddress.$error" ng-hide="delivererProfileForm.delivererAddress.$valid">
                            <div ng-message-exp="['required', 'minlength']">
                                Addresses generally consist of at least 10 characters
                            </div>
                        </div>
                    </md-input-container>
                    <br>

                    <b layout-align="center center">Birth Date: </b>
                    <md-input-container style="padding-left: 2em" id="delivererBirthDateField">
                        <input aria-label="delivererBirthDateField" type="text" name="delivererBirthDate" disabled aria-disabled="true" ng-model="$ctrl.user.birthday">
                    </md-input-container>
                    <br>

                    <b layout-align="center center">Phone Number: </b>
                    <md-input-container style="padding-left: 2em" id="delivererPhoneNumberField">
                        <input aria-label="delivererPhoneNumberField" type="tel" name="delivererPhoneNumber" ng-model="$ctrl.user.phone">
                    </md-input-container>
                    <br>
                    <b layout-align="center center">Maximum Delivery Weight (kg): </b>
                    <md-input-container style="padding-left: 2em" id="delivererMaxWeightField">
                        <input aria-label="delivererMaxWeightField" type="number" name="delivererMaxWeight" ng-model="$ctrl.user.maxWeight">
                    </md-input-container>
                    <br>


                    <b layout-align="center center">Currently Preferred Location </b>
                    <md-input-container style="padding-left: 2em" id="delivererOldLocationField">
                        <input aria-label="delivererOldLocationField" type="text" name="delivererInitialLocation" disabled aria-disabled="true" ng-model="$ctrl.user.initialLocation">
                    </md-input-container>
                    <br>


                    <b layout-align="center center"></b>
                    <md-input-container class="md-block">
                        <label>New Location</label>
                        <md-select ng-model="$ctrl.userProfile.selectedLocationDeliverer"
                                   name="selectedLocationDeliverer"
                                    ng-change="$ctrl.changeDistrictsDeliverer()">
                            <md-optgroup>
                                <md-option ng-value="location" ng-repeat="location in $ctrl.availableLocations">
                                    {{location.name}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <br>

                    <b layout-align="center center">Currently Preferred Districts </b>
                        <div ng-repeat="district in $ctrl.user.initialDistricts">
                            {{district}}
                        </div>
                    <br>

                    <b layout-align="center center"></b>
                    <md-input-container class="md-block">
                        <label>New Districts</label>
                        <md-select name="selectedDistrict"
                                   ng-model="$ctrl.userProfile.selectedDistricts"
                                   multiple>
                            <md-optgroup label="districts">
                                <md-option ng-value="district" ng-repeat="district in $ctrl.userProfile.selectedLocationDeliverer.districts">{{district}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <br>

                    <b layout-align="center center">Old Password: </b>
                    <md-input-container style="padding-left: 2em" id="delivererOldPasswordField">
                        <input aria-label="delivererOldPasswordField" type="password" name="userPassword" ng-model="$ctrl.user.oldPassword"/>
                    </md-input-container>

                    <br>
                    <b layout-align="center center">New Password </b>
                    <md-input-container style="padding-left: 2em" id="delivererNewPasswordField">
                        <input aria-label="delivererNewPasswordField"
                               type="password"
                               name="delivererNewPassword"
                               ng-model="$ctrl.user.newPassword">
                    </md-input-container>
                    <br>
                    <b layout-align="center center">New Password (Again): </b>
                    <md-input-container style="padding-left: 2em" id="delivererNewPasswordFieldAgain">
                        <input aria-label="delivererNewPasswordFieldAgain"
                               type="password"
                               name="delivererNewPasswordAgain"
                               ng-model="$ctrl.user.newPasswordAgain">
                    </md-input-container>
                    <br>
                    <b style="color: red" layout-align="center center" ng-show="$ctrl.profileUpdateErrorDeliverer !== undefined">Error: </b>
                        <span style="color: red">{{$ctrl.profileUpdateErrorDeliverer}}</span>
                    <br>

                </md-list>
                </form>
                <md-button type="submit" class="md-raised"
                           ng-click="$ctrl.changeDelivererProfile()" style="display: block; margin: 0 auto;">
                    &nbsp;Save Changes&nbsp;
                </md-button>
                <br>
            </div>


            <div id="shopProfile" ng-show="$ctrl.user.type==='shop'">
                <form name="shopProfileForm">
                    <md-list>
                        <b layout-align="center center" >Shop Name:</b>
                        <md-input-container style="padding-left: 2em"id="shopNameField">
                            <input aria-label="shopNameField" type="text" name="shopName" ng-model="$ctrl.user.shopName" required="" ng-pattern="/^[a-zA-Z0-9\s]*$/"/>
                            <div ng-messages="shopProfileForm.shopName.$invalid" ng-hide="shopProfileForm.shopName.$valid">
                                <div ng-message-exp="['required', 'pattern']">
                                    Valid shop name is required for update.
                                </div>
                            </div>
                        </md-input-container>
                        <br>
                        <b layout-align="center center">Shop Address: </b>
                        <md-input-container style="padding-left: 2em" id="shopAddressField">
                            <input aria-label="shopAddressField" type="text" name="shopAddress" ng-model="$ctrl.user.shopAddress" required="" minlength="10">
                            <div ng-messages="shopProfileForm.shopAddress.$error" ng-hide="shopProfileForm.shopAddress.$valid">
                                <div ng-message-exp="['required', 'minlength']">
                                    Addresses generally consist of at least 10 characters
                                </div>
                            </div>
                        </md-input-container>
                        <br>
                        <b layout-align="center center">E-mail: </b>
                        <md-input-container style="padding-left: 2em" id="shopEmailField">
                            <input aria-label="shopEmailField" type="email" name="shopEmail" ng-model="$ctrl.user.email" required="" minlength="10" maxlength="50" ng-pattern="/^.+@.+\..+$/"/>
                            <div ng-messages="shopProfileForm.userEmail.$error" ng-hide="shopProfileForm.userEmail.$valid">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 10 and 50 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <br>
                        <b layout-align="center center">Phone Number: </b>
                        <md-input-container style="padding-left: 2em" id="shopPhoneNumberField">
                            <input aria-label="shopPhoneNumberField" type="tel" name="shopPhoneNumber" ng-model="$ctrl.user.phone">
                        </md-input-container>
                        <br>

                        <b layout-align="center center">Old Password: </b>
                        <md-input-container style="padding-left: 2em" id="shopOldPasswordField">
                            <input aria-label="shopOldPasswordField" type="password" name="shopOldPassword" ng-model="$ctrl.user.oldPassword" >
                        </md-input-container>
                        <br>
                        <b layout-align="center center">New Password </b>
                        <md-input-container style="padding-left: 2em" id="shopNewPasswordField">
                            <input aria-label="shopNewPasswordField"
                                   type="password"
                                   name="shopNewPassword"
                                   ng-model="$ctrl.user.newPassword">
                        </md-input-container>
                        <br>
                        <b layout-align="center center">New Password (Again): </b>
                        <md-input-container style="padding-left: 2em" id="shopNewPasswordFieldAgain">
                            <input aria-label="shopNewPasswordFieldAgain"
                                   type="password"
                                   name="shopNewPasswordAgain"
                                   ng-model="$ctrl.user.newPasswordAgain"
                            >
                        </md-input-container>
                        <br>
                        <b style="color: red" layout-align="center center" ng-show="$ctrl.profileUpdateErrorShop !== undefined">Error: </b>
                            <span style="color: red">{{$ctrl.profileUpdateErrorShop}}</span>
                        <br>
                    </md-list>
                </form>
                <md-button class="md-raised" ng-click="$ctrl.changeShopProfile()" style="display: block; margin: 0 auto;">&nbsp;Save Changes&nbsp;</md-button><br>
            </div>
        </md-card>
    </md-content>
</div>
</body>
</html>