<!--
given ng-controller name here must be same with the one in respective component's js file
-->

<div layout="row" layout-align="left" layout-fill ng-cloak >
    <left-menu></left-menu>
    <md-content flex layout-gt-sm="row">
        <md-card style="width: 960px">
            <md-card-title style="max-height: 40px">

                <md-card-title-text >

                    <!--<md-card-actions layout="row" layout-align="center center">-->

                    <!--</md-card-actions>-->

                    {{$ctrl.name}}

                    <!--<md-card-title-media >-->
                        <!---->
                    <!--</md-card-title-media>-->

                </md-card-title-text>


            </md-card-title>


            <md-card-content layout="row" layout-align="left start" layout-padding>

                <div class='product' layout="column" layout-align="center center" ng-repeat="product in $ctrl.products">

                    <img ng-src="{{product.src}}" height="60px" width="60px">
                    explanation

                </div>

                <br/><br/><br/><br/><br/><br/><br/>
            </md-card-content>
        </md-card>
    </md-content>
</div>