<md-card style="width: 240px">
    <!--<md-card-title>-->
        <!--<md-card-title-media>-->
            <!--<div layout="row" layout-align="center center" layout-padding>-->
                <!--Shops? Home?-->
            <!--</div>-->
        <!--</md-card-title-media>-->
        <!--<md-card-title-text>-->


        <!--</md-card-title-text>-->

    <!--</md-card-title>-->

    <md-card-content>
        <br/>
        <md-button class="md-raised" style="width: 92%" ui-sref="mainPage">All Shops</md-button>
        <md-button class="md-raised" style="width: 92%" ui-sref="shops({type: 'asian'})">Asian Shops</md-button>
        <md-button class="md-raised" style="width: 92%" ui-sref="shops({type: 'getrankemarkt'})">Getrankemarkts</md-button>
        <md-button class="md-raised" style="width: 92%" ui-sref="shops({type: 'turkish'})">Turkish Shops</md-button>
        <md-button class="md-raised" style="width: 92%" ui-sref="shops({type: 'russian'})">Russian Shops</md-button>

    </md-card-content>
</md-card>
