<md-card style="width: 240px">
    <md-card-title>
        <md-card-title-media>
            <div layout="row" layout-align="center center" layout-padding>
                Shops? Home?
            </div>
        </md-card-title-media>
        <md-card-title-text>


        </md-card-title-text>

    </md-card-title>

    <md-card-content>
        <br/>
        <md-button class="md-raised" style="width: 92%">All Shops</md-button>
        <md-button class="md-raised" style="width: 92%">Asian Shops</md-button>
        <md-button class="md-raised" style="width: 92%">Getrankemarkts</md-button>
        <md-button class="md-raised" style="width: 92%">Turkish Shops</md-button>
        <md-button class="md-raised" style="width: 92%">Russian Shops</md-button>

    </md-card-content>
</md-card>
