/**
* Created by Melih Berçin on 6/16/2017.
*/

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<div>&nbsp;</div>
<div layout="row" layout-align="center center" layout-margin>

    <md-content>
        <md-card class="md-card" layout-align="center center">
            <h2>Add Product</h2>
            <form name="SubmitProduct">
                <md-list>
                    <label layout-align="center center">Product Name</label><br>
                    <md-input-container layout-align="center center">
                        <label>Name</label>
                        <input name="productName" required ng-model="$ctrl.product.name">
                        <div ng-messages="SubmitProduct.productName.$error" ng-hide="SubmitProduct.productName.$valid">
                            <div ng-message="required">Product name is required.</div>
                        </div>
                    </md-input-container><br>

                    <label layout-align="center center">Product Category</label><br>
                    <md-select name="productCategory" required ng-model="$ctrl.product.category" placeholder="Category" layout-align="center center" style="width: 250px;">
                        <md-option value="axe">Axe</md-option>
                        <md-option value="sword">Sword</md-option>
                        <md-option value="wand">Wand</md-option>
                        <md-option value="pen">Pen?</md-option>
                    </md-select><br>

                    <label layout-align="center center">Product Weight</label><br>
                    <div>
                        <md-input-container id="inputCont">
                            <label>Weight</label>
                            <input type="number" name="productWeight" required ng-model="$ctrl.product.weight">
                            <div ng-messages="SubmitProduct.productWeight.$error" ng-hide="SubmitProduct.productWeight.$valid">
                                <div ng-message="required">Product weight is required.</div>
                            </div>
                        </md-input-container>
                        <md-select id="select" name="weightType" required ng-model="$ctrl.product.weightType" placeholder="unit">
                            <md-option value="gram">gram</md-option>
                            <md-option value="kilogram">kilogram</md-option>
                        </md-select>
                    </div><br>

                    <label layout-align="center center">Product Price (€)</label><br>
                    <md-input-container layout-align="center center">
                        <label>Price</label>
                        <input type="number" name="productPrice" required ng-model="$ctrl.product.price">
                        <div ng-messages="SubmitProduct.productPrice.$error" ng-hide="SubmitProduct.productPrice.$valid">
                            <div ng-message="required">Product price is required.</div>
                        </div>
                    </md-input-container><br>

                    <label layout-align="center center">Product Stock</label><br>
                    <md-input-container layout-align="center center">
                        <label>Stock</label>
                        <input type="number" name="productStock" required ng-model="$ctrl.product.stock">
                        <div ng-messages="SubmitProduct.productStock.$error" ng-hide="SubmitProduct.productStock.$valid">
                            <div ng-message="required">Product stock is required.</div>
                        </div>
                    </md-input-container>

                    <!--
                    &nbsp;&nbsp;<span>or</span>&nbsp;&nbsp;

                    <md-checkbox name="productStockInf" ng-model="$ctrl.product.selected" layout-align="center center">
                        Infinite
                    </md-checkbox><br>
                    -->
                    <br>

                    <label layout-align="center center">Product Details</label><br>
                    <md-input-container layout-align="center center">
                        <label>Details</label>
                        <input name="productDetails" ng-model="$ctrl.product.productDetails" md-maxlength="200">
                        <div ng-messages="SubmitProduct.productDetails.$error">
                            <div ng-message="md-maxlength">Product description must be less than 200 characters long.</div>
                        </div>
                    </md-input-container><br>

                </md-list>
            </form>

            <md-button class="md-raised" ng-click="$ctrl.uploadProductPic()"><md-icon md-svg-icon="upload"></md-icon>&nbsp;Add Photo&nbsp;</md-button>

            <br><br>

            <md-button class="md-raised" ng-disabled="!SubmitProduct.$valid" ng-click="$ctrl.submitNewProduct(); addProductSubmitted = true;">&nbsp;&nbsp;Submit&nbsp;&nbsp;</md-button><br>

            <div ng-messages="$ctrl.addProductError" ng-if="addProductSubmitted && $ctrl.addProductError">
                <p>&nbsp;</p>
                <div ng-message="addProductError" class="error">{{$ctrl.addProductError}}</div>
            </div><br>
        </md-card>
    </md-content>
</div>
</body>
</html>