<div layout="column" layout-padding="">
    <span flex="20"></span>
    <md-content class="login-form" layout="row" flex="35">
        <span flex="35"></span>
        <md-card flex="30">
            <span flex="20"></span>
            <md-card-content>
                <form name="LoginForm" ng-submit="$ctrl.submit()">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="text" name="email" ng-model="$ctrl.login.email" placeholder="email" required=""/>
                        <div ng-messages="LoginForm.email.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your email.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password"
                               ng-keyup="$event.keyCode == 13 && $ctrl.submit()"
                               ng-model="$ctrl.login.password" placeholder="password" required="" md-maxlength="64"/>
                        <div ng-messages="LoginForm.password.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your password.</div>
                        </div>
                    </md-input-container>
                    <div class="error" ng-show="$ctrl.loginError !== undefined">
                        {{$ctrl.loginError}}
                    </div>
                    <md-button ng-disabled="!LoginForm.$valid"
                               ng-click="$ctrl.submit()"
                               class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
        <span flex></span>
    </md-content>
    <span flex></span>
</div>
