<div ng-show="$ctrl.showBasket">
<md-content layout="row" style="overflow: hidden;">
    <md-card style="width: 100%; min-width: 1%; height: 100%"  layout="column" layout-align="start start">
        <div style="width: 100%; min-width: 1%; height: 15%; background-color: #ab0012; color: whitesmoke;" layout="row">
            <md-icon style="margin-left:4%; margin-right: 10px; color: whitesmoke;"><ng-md-icon icon="shopping_cart" ></ng-md-icon></md-icon>
            <div layout-align="center center" layout="">SHOPPING BASKET</div>
        </div>
        <div style="width: inherit; min-width: 1%; height: 80%">
            <md-list style="padding-bottom: 25px" ng-cloak>
                <md-subheader class="md-no-sticky"><b>Products</b></md-subheader>
                <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="item in $ctrl.basket.items">
                    <md-icon md-svg-icon="{{setting.icon}}"></md-icon>
                    <p> <b layout-align="center left">Name: </b> {{item.product.name}} </p>
                    <p> <b <b layout-align="center left">Amount: </b> {{item.amount}} </p>

                </md-list-item>
                <md-divider></md-divider>
            </md-list>
            <!--<p>&nbsp</p>-->
            <!--<div>-->

                <!--<div ng-repeat="item in $ctrl.basket.items">-->
                    <!--<b layout-align="center left">Name: </b> {{item.product.name}}-->
                    <!--<b layout-align="center left">Amount: </b> {{item.amount}}-->

                <!--</div>-->
            <!--</div>-->
            <!--<p>&nbsp</p>-->
            <!--<p>&nbsp</p>-->
            <div>
                <b layout-align="center left">Total Weight: </b> {{$ctrl.basket.totalWeight}}
                <p></p>
                <b layout-align="center left">Total Price: </b> {{$ctrl.basket.totalPrice}}
            </div>
        </div>

        <md-menu-item style="width: inherit;" layout-no-wrap>
            <md-button title="Clear your basket" ng-click="" style="color:darkred; padding: 2%" layout-padding>
                <md-icon><ng-md-icon style="color:darkred; width: 50%;" icon="remove_shopping_cart"></ng-md-icon></md-icon>
                Clear
            </md-button>
            <md-button title="Proceed to Payment" ui-sref="payment" style="color:green; padding: 2%" layout-padding>
                <md-icon><ng-md-icon style="color:green; width: 50%;" icon="check"></ng-md-icon></md-icon>
                Payment
            </md-button>
        </md-menu-item>
    </md-card>
</md-content>
</div>