<div ng-show="$ctrl.showBasket" ng-init="$ctrl.$onInit()">
<md-content layout="row" style="overflow: hidden;">
    <md-card style="width: 100%; min-width: 1%; height: 100%"  layout="column" layout-align="start start">
        <div style="width: 100%; min-width: 1%; height: 15%; background-color: #ab0012; color: whitesmoke;" layout="row">
            <md-icon style="margin-left:4%; margin-right: 10px; color: whitesmoke;"><ng-md-icon icon="shopping_cart" ></ng-md-icon></md-icon>
            <div layout-align="center center" layout="">SHOPPING BASKET</div>
        </div>
        <div style="width: inherit; min-width: 1%; height: 80%">
            <md-list style="padding-bottom: 25px" ng-cloak flex>
                <md-subheader class="md-no-sticky"><b>Products</b></md-subheader>
                <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="item in $ctrl.$rootScope.basket.items">

                    <p> <b layout-align="center left">Name: </b> {{item.product.name}} </p>
                    <p> <b layout-align="center left">Amount: </b> {{item.amount}} </p>
                    <md-button class="md-secondary md-icon-button" ng-click="$ctrl.removeProduct(item.product._id, item.amount)" aria-label="remove">
                        <ng-md-icon icon="clear" ></ng-md-icon>
                    </md-button>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>

            <div style="width: inherit;" >
                <p style="padding-left:8px;"><b>Total Weight: </b> {{$ctrl.$rootScope.basket.totalWeight}}</p>
                <p style="padding-left:8px;"><b>Total Price: </b> {{$ctrl.$rootScope.basket.totalPrice}}</p>
            </div>
        </div>

        <md-menu-item style="width: inherit;" layout-no-wrap>
            <md-button title="Clear your basket" ng-click="$ctrl.clearBasket()" style="color:darkred; padding: 2%" layout-padding>
                <md-icon><ng-md-icon style="color:darkred; width: 50%;" icon="remove_shopping_cart"></ng-md-icon></md-icon>
                Clear
            </md-button>
            <md-button title="Proceed to Payment" style="color:green; padding: 2%" layout-padding ng-click="$ctrl.goPaymentPage()">
                <md-icon><ng-md-icon style="color:green; width: 50%;" icon="check"></ng-md-icon></md-icon>
                Payment
            </md-button>
        </md-menu-item>
    </md-card>
</md-content>
</div>