<md-toolbar>
    <div class="md-toolbar-tools" style="background-color: #ab0012; min-height: 70px">
        <a ui-sref="mainPage" layout="row">
            <md-icon class="md-icon-2" md-svg-src='logoD'></md-icon>
        </a>
        <span flex="5"></span>
        <md-input-container layout="row" ng-model="search" class="whiteColor" flex>
            <input  ng-model="search" placeholder="Search products" placeholder="enter search" class="whiteColor">
        </md-input-container>
        <md-button layout="row" aria-label="Search" ng-click="$ctrl.search()" class="whiteColor" >
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
        <span flex="5"></span>
        <md-menu  layout="row" md-offset="0 70">
            <md-button aria-label="More" class="md-button menuButton" ng-click="$ctrl.openMenu($mdMenu, $event)">
                <md-menu-item ng-if="$ctrl.isAuthenticated()">
                    Welcome {{$ctrl.getCurrentUserName()}}!
                </md-menu-item>
                <md-menu-item ng-if="!$ctrl.isAuthenticated()">
                    Welcome!
                </md-menu-item>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-if="$ctrl.isAuthenticated()">
                    <md-button>
                        <md-icon md-menu-align-target><ng-md-icon icon="account_circle" ></ng-md-icon></md-icon>
                        {{$ctrl.getCurrentUser()}}
                    </md-button>
                </md-menu-item>
                <md-menu-divider ng-if="$ctrl.isAuthenticated()"></md-menu-divider>
                <md-menu-item ng-if="$ctrl.isAuthenticated()">
                    <md-button ng-click="$ctrl.logout($event)">
                        <md-icon md-menu-align-target><ng-md-icon icon="logout" ></ng-md-icon></md-icon>
                        Logout
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="!$ctrl.isAuthenticated()">
                    <md-button ng-click="$ctrl.login($event)">
                        <md-icon md-menu-align-target><ng-md-icon icon="login" ></ng-md-icon></md-icon>
                        Login
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="!$ctrl.isAuthenticated()">
                    <md-button ng-click="$ctrl.register($event)">
                        <md-icon md-menu-align-target><ng-md-icon icon="register" ></ng-md-icon></md-icon>
                        Register
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>