<!--
given ng-controller name here must be same with the one in respective component's js file
-->

<div layout="row" layout-align="left" layout-fill ng-cloak >
    <left-menu></left-menu>

    <md-content layout="row" layout-margin layout-wrap layout-align="center start">
        <md-card id="deneme" style="width: 960px; padding-bottom: 35px">

            <md-card-title style="max-height: 150px; min-height: 150px;" >
                <md-card-title-text >

                    <md-card-actions layout="row" layout-align="center center">
                        <md-input-container layout="row" style="max-width:100%; width:100%" flex>
                            <input  type="text" ng-model="searchName" placeholder="Search products" >
                        </md-input-container>
                        <md-button layout="row" aria-label="Search" ui-sref="search({search: searchName })">
                            <ng-md-icon icon="search" ></ng-md-icon>
                        </md-button>
                    </md-card-actions>

                    <div class="pageShopTitle" style="padding-top: 25px"><b>
                        {{$ctrl.name}}:
                    </b></div>

                    <div style="padding-top: 15px">
                        <b>Phone Number: </b>{{$ctrl.phone}}
                    </div>
                    <div style="padding-top: 15px">
                        <b>Address: </b>{{$ctrl.address}}
                    </div>

                </md-card-title-text>
            </md-card-title>

            <md-card-content  layout="row" layout-align="left start" ng-if="$ctrl.products" ng-repeat="col in [] | range:$ctrl.numCol" flex>

                <md-card  flex="25" ng-repeat="row in [] | range:4" ng-if="$ctrl.products[4*col+row]" style="padding-top:15px; padding-bottom:15px" >
                    <img ng-src="{{$ctrl.products[4*col+row].photo}}" width="100" height="100">
                    <!--<img ng-src="{{$ctrl.photo}}">-->
                    <md-card-content >
                        <h2>{{$ctrl.products[4*col+row].name}}</h2>
                        <p><b>Category: </b>{{$ctrl.products[4*col+row].category}}</p>
                        <p><b>Price: </b>{{$ctrl.products[4*col+row].price}} €</p>
                        <p><b>Stock: </b>{{$ctrl.products[4*col+row].stock}}</p>
                        <p><b>Weight: </b>{{$ctrl.products[4*col+row].weight}} kg</p>
                        <p><b>Details: </b>{{$ctrl.products[4*col+row].details}}</p>
                    </md-card-content>
                    <md-button class="md-raised" style="width: 92%" ui-sref="product({productId:'{{$ctrl.products[4*col+row]._id}}' })">View Product</md-button>
                    <md-button class="md-raised" style="width: 92%" ng-click="$ctrl.addProductToBasket($ctrl.products[4*col+row]._id)">Add to Basket</md-button>
                </md-card>

            </md-card-content>

        </md-card>
    </md-content>
</div>