<div layout="row" layout-fill ng-cloak>
    <div layout="column" layout-fill flex>
        <app-header></app-header>

        <md-content flex layout="column">
            <span flex="6">
                <nav-menu></nav-menu>
            </span>
            <span flex="4"></span>
            <md-content flex layout="row">
                <ui-view flex="80"></ui-view>
                <div flex="20">
                    <view-basket></view-basket>
                </div>
            </md-content>

            <span flex="4"></span>
        </md-content>

        <app-footer flex="none"></app-footer>

    </div>
<!--
    <app-landing-page></app-landing-page>
-->
</div>

