<!--
given ng-controller name here must be same with the one in respective component's js file
-->

<div layout="row" layout-align="left" layout-fill ng-cloak >
    <left-menu></left-menu>

    <md-content layout="row" layout-margin layout-wrap layout-align="center start">
        <md-card id="deneme" style="width: 960px; padding-bottom: 35px">

            <md-card-title style="max-height: 50px; min-height: 50px;" >
                <md-card-title-text >

                    <md-card-actions layout="row" layout-align="center center">
                        <md-input-container layout="row" ng-model="search" style="max-width:100%; width:100%" flex>
                            <input  ng-model="search" placeholder="Search products" placeholder="enter search">
                        </md-input-container>
                        <md-button layout="row" aria-label="Search" ng-click="$ctrl.search()">
                            <ng-md-icon icon="search" ></ng-md-icon>
                        </md-button>
                    </md-card-actions>

                </md-card-title-text>
            </md-card-title>

            <md-card-content  layout="row" layout-align="left start" >

                <md-card  flex="50" >
                    <img ng-src="{{$ctrl.photo}}">
                </md-card>

                <md-card  flex="50" >
                    <md-card-content style="padding-bottom: 25px">

                        <div class="pageShopTitle" style="padding-top: 5px"><b>
                            {{$ctrl.name}}
                        </b></div>

                        <div style="padding-top: 15px">
                            <b>Category:  </b> {{$ctrl.category}}
                        </div>

                        <div style="padding-top: 15px">
                            <b>Price:  </b> {{$ctrl.price}} €
                        </div>

                        <div style="padding-top: 15px">
                            <b>Stock:  </b> {{$ctrl.stock}}
                        </div>

                        <div style="padding-top: 15px">
                            <b>Weight:  </b> {{$ctrl.weight}} kg
                        </div>

                        <div style="padding-top: 15px">
                            <b>Details:  </b> {{$ctrl.details}}
                        </div>

                    </md-card-content>
                </md-card>

            </md-card-content>

        </md-card>
    </md-content>
</div>